﻿
@{
    ViewBag.Title = "Index";
}
<div class="content">
    @*<div class="right_content">*@
    <h1>Pobierz plan zajęć</h1>
    <h1><a href="http://dziekanat.wzim.sggw.pl/index.php?option=com_remository&Itemid=43&func=download&id=49&chk=07e8fbcdb9ca82703463c00a025680aa"><span class="glyphicon glyphicon-download-alt"></span></a></h1>
</div>
@*</div>*@

