﻿@model DziekanatWzim.Models.Duty

@{
    ViewBag.Title = "Delete";
}
@*<div class="right_content">*@
    <h2>Usuń</h2>

    <h3>Czy na pewno chcesz usunąć?</h3>
    <div>
        <h4>Dyżur</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Username)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Username)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Godziny)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NrPokoju)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.NrPokoju)
            </dt>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Usuń" class="btn btn-default" /> |
                @Html.ActionLink("Powrót do listy", "Index")
            </div>
        }
    </div>
@*</div>*@
