﻿@model DziekanatWzim.Models.Duty

@{
    ViewBag.Title = "Details";
}

<h2>Szczegóły</h2>

<div>
    <h4>Dyżur</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Godziny)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Godziny)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NrPokoju)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NrPokoju)
        </dd>
    </dl>
</div>
<p>
    @if (Session["LoggedUserID"] != null)
    {
        @Html.ActionLink("Edytuj", "Edit", new { id = Model.Id })
    }
    <p>@Html.ActionLink("Powrót do listy", "Index")</p>
</p>
