﻿@model IEnumerable<DziekanatWzim.Models.Duty>

@{
    ViewBag.Title = "Index";
}
<!DOCTYPE html>
<html>
    <head>
        <title>Strona dziekanatu</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="css/style.css"/>
        <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.css"/>
        <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
        <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <script src="js/jquery-latest.min.js"></script>
        <script src="js/script.js"></script>
        <script src="js/cookies.js"></script>
    </head>
    <body>

@*<div class="right_content">*@
    
<div class="news">
    
    <h2>Dyżury</h2>
<div class="clear"></div>

    @if (Session["LoggedUserId"] != null)
    {

       <div class="btn btn-default" style="margin:30px;"> @Html.ActionLink("Stwórz nowy", "Create") </div>


    }

<div class="duties">
@foreach (var item in Model) {
<div class="single_duty" style="width:80%;margin-left:10%;">
                            
     <div class="name">@Html.DisplayFor(modelItem => item.Username) <br /> pok.: @Html.DisplayFor(modelItem => item.NrPokoju)</div>
      <div class="hours">@Html.DisplayFor(modelItem => item.Godziny)</div>  
         
    @if (Session["LoggedUserID"] != null)
    {
        <p>@Html.ActionLink("Edytuj", "Edit", new { id = item.Id })</p>
        <p>@Html.ActionLink("Szczegóły", "Details", new { id = item.Id })</p>
        <p>@Html.ActionLink("Usuń", "Delete", new { id = item.Id })</p>
    }
                            
      </div>
}

</div>
                    @*@Html.ActionLink("Edytuj", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Szczegóły", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Usuń", "Delete", new { id = item.Id })*@
             
        





    @*<div class="col-lg-6">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Border Table </h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-wrench"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li>
                            <a href="#">Config option 1</a>
                        </li>
                        <li>
                            <a href="#">Config option 2</a>
                        </li>
                    </ul>
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">

                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Username</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Username)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Godziny)
                                </td>
                                <td>
                                    @Html.ActionLink("Edytuj", "Edit", new { id = item.Id }) |
                                    @Html.ActionLink("Szczegóły", "Details", new { id = item.Id }) |
                                    @Html.ActionLink("Usuń", "Delete", new { id = item.Id })
                                </td>
                            </tr>
                        }
                </table>

            </div>
        </div>
    </div>*@
</div>
@*</div>*@
</body>
</html>