﻿@model IEnumerable<DziekanatWzim.Models.Post>

@{
    ViewBag.Title = "Index";
}
<!DOCTYPE html>
<html>
<head>
    <title>Strona dziekanatu</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.css" />
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <script src="js/jquery-latest.min.js"></script>
    <script src="js/script.js"></script>
    <script src="js/cookies.js"></script>
</head>
<body>
    <div class="content">
        @*<div class="right_content">*@

        @*<div class="header">
                <h1>Dziekanat Wydziału Zastosowań Matematyki i Informatyki</h1>
            </div>*@

        <div class="news">

            <h2>Ogłoszenia</h2>
            @if (Session["LoggedUserId"] != null)
            {
                <div class="btn btn-default" style="margin:30px;"> @Html.ActionLink("Stwórz nowy", "Create")</div>


            }
            <div class="clear"></div>

            @* <div class="single_news">

                    <div class="title">
                        @Html.DisplayNameFor(model => model.Title)
                    </div>

                    <div class="author_date">
                        <b>@Html.DisplayNameFor(model => model.Author)</b>, @Html.DisplayNameFor(model => model.UpdatedDate)
                    </div>

                    <div class="xtext">
                        @Html.DisplayNameFor(model => model.Content)
                    </div>

                </div>*@


            @foreach (var item in Model)
            {
                <div class="single_news">

                    <div class="title">
                        @Html.DisplayFor(model => item.Title)
                    </div>

                    <div class="author_date">
                        <b>@Html.DisplayFor(modelItem => item.Author)</b>, @Html.DisplayFor(modelItem => item.UpdatedDate)
                    </div>

                    <div class="xtext">
                        @Html.DisplayFor(modelItem => item.Content)
                    </div>
                    <div>
                        @if (Session["LoggedUserID"] != null)
                        {
                            <p>@Html.ActionLink("Edytuj", "Edit", new { id = item.Id })</p>
                            <p>@Html.ActionLink("Szczegóły", "Details", new { id = item.Id })</p>
                            <p>@Html.ActionLink("Usuń", "Delete", new { id = item.Id })</p>
                        }
                    </div>

                </div>
            }




            @* @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })*@

        </div>
    </div>
    @*</div>*@
</body>
</html>