﻿@model DziekanatWzim.Models.User

@{
    ViewBag.Title = "AfterLogin";
}
@*<div class="right_content">*@
    @if (Session["LoggedUserFullName"] != null)
    {
        <div class="alert alert-success" style="margin-top:5%;">Witaj @Session["LoggedUserFullName"].ToString()</div>
    }
@*</div>*@
