﻿@model IEnumerable<DziekanatWzim.Models.File>

@{
    ViewBag.Title = "Index";
}
<!DOCTYPE html>
<html>
<head>
        <title>Strona dziekanatu</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="css/style.css"/>
        <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.css"/>
        <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
        <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <script src="js/jquery-latest.min.js"></script>
        <script src="js/script.js"></script>
        <script src="js/cookies.js"></script>
    </head>
<body>
<div class="content">
@*<div class="right_content">*@
   
    <div>
        @if (Session["LoggedUserId"]!=null)
        {
            
                <div class="btn btn-default" style="margin:30px;">@Html.ActionLink("Stwórz nowy", "Create")</div>

            
        }
                
	
            
 
    </div>

<div class="news">
<h2>Pliki do pobrania</h2>
<div class="clear"></div>

@foreach (var item in Model) {
<div class="download">
                        
                        <div class="title">
                            @Html.DisplayFor(modelItem => item.Description)  
                        </div>
                        
                        <div class="type">
                            @Html.DisplayFor(modelItem => item.Author)
                        </div>
                        
                        <div class="download_file">
                            <a href="@Html.DisplayFor(modelItem => item.Path)"><span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span></a>
                        @if (Session["LoggedUserID"] != null)
                        {
                            <p>@Html.ActionLink("Edytuj", "Edit", new { id = item.Id })</p>
                            <p>@Html.ActionLink("Szczegóły", "Details", new { id = item.Id })</p>
                            <p>@Html.ActionLink("Usuń", "Delete", new { id = item.Id })</p>
                        }
                        
                        
                        </div>
                        
                    </div>
   
   }
        
    

 
          

</div>
</div>
@*</div>*@
</body>
</html>