﻿<!DOCTYPE html>
<html>
<head>
    <title>Wirtualny dziekanat</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @*<link rel="stylesheet" type="text/css" href="css/style.css" />
    <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.css" />
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />*@
    <link href="~/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/style.css" rel="stylesheet" type="text/css" />
    <link href="http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900&subset=latin,latin-ext" rel='stylesheet' type='text/css'>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")                                


</head>
<body>
    <div class="content">
        
        <div class="left_content">

            <div class="social" style="margin-top:15%;">
                <span>WZIM w mediach społecznościowych</span>
                <div class="clear"></div>
                <a href="http://www.facebook.com/pages/Wzim/210528242419134"><img src="~/img/fb.png"></a>
                <a href="http://www.twitter.com"><img src="~/img/twitter.png"></a>
                <a href="http://www.youtube.com"><img src="~//img/youtube.png"></a>

            </div>

            <ul class="menu" style="margin-top:15%;">
                <li><a href="@Url.Action("Index", "Home")" class="active"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home</a></li>
                <li><a href="@Url.Action("Index", "Calendar")"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> Plan zajęć</a></li>
                <li><a href="@Url.Action("Index", "Duty")"><span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span> Dyżury</a></li>
                <li><a href="@Url.Action("Index", "Files")"><span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span> Download</a></li>
                @if (Session["LoggedUserID"] != null)
                {
                    <li><a href="@Url.Action("LogOut","Users")"><span class="glyphicon glyphicon-log-out"></span> Wyloguj</a></li>
                }
            </ul>
              
            <div style=" background-color: #FFFFFF;margin-top:15%; ">
                <div style="height: 1px; color: #2F4050;">.</div>
                <div style="background-color: #2F4050; color: #FFFFFF; font-size: 14px;padding-top:10px;padding-bottom:10px; padding-left:20px;"><span class="glyphicon glyphicon-time" aria-hidden="true" style="margin-right: 10px;"></span> DZIEKANAT CZYNNY</div>
                <div style="text-align: center; color: #2F4050; margin-top: 1%; margin-bottom: 2%; ">
                    Stacjonarne<br />
                    poniedziałek, środa, czwartek 10:00-13:00  <br /><br />
                    Niestacjonarne<br />
                    piątek 14:00-17:00<br />
                    w terminach zjazdów sobota 09:00-12:30
                </div>

            </div>

        </div>

        <div class="right_content">
            <div class="header">
                <h1>Dziekanat WZIM SGGW</h1>
            </div>
            @RenderBody()
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")

    @Scripts.Render("~/bundles/bootstrap")

    @RenderSection("scripts", required: false)
</body>
</html>
